.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }
  i {
    position: absolute;
    top: 38%;
    right: 16%;
  }
  i:hover {
    color: blue;
    cursor: pointer;
  }  
